*.DS_Store
index.php
backup-logs/
uploads/
themes/index.php
themes/allmybooks-2014/.sass-cache/
themes/allmybooks-2014/_sass/
themes/allmybooks-2014/_css/mystyles.css
themes/allmybooks-2014/_css/reset.css
themes/allmybooks_theme/
themes/amb_grid/
themes/twentyfourteen/
themes/twentythirteen/
themes/twentytwelve/