*.DS_Store
index.php
.sass-cache/
backup-logs/
uploads/
upgrade/
themes/index.php
themes/allmybooks/
themes/allmybooks_theme/
themes/amb_grid/
themes/twentyfourteen/
themes/twentyfifteen/
themes/twentythirteen/
themes/twentytwelve/
themes/tallmybooks-test/
node_modules/