@import "compass/css3";
@import "breakpoint";

/*
** COLORS
*/
$color-primary: #246f99;
$color-secondary: #F5F1D2;
$color-tertiary: #434343;
$color-burnt-cream: #EDDCAD;
$color-dark-cream: #D4C18B;

@function color--shadow($color) {
	@return adjust-color($color, $hue: 0, $saturation: 3, $lightness: -7);
}

/*
** FONTS
*/
$font-title: 'Domine', serif;
$font-text: 'Sintony', sans-serif;

/*
** TEXT SIZES
** http://lifehacker.com/stick-to-these-font-sizes-to-simplify-designs-and-more-1531615325
*/
$font-size-05: 0.313em; // 5px
$font-size-07: 0.438em; // 7px
$font-size-09: 0.563em; // 9px
$font-size-12: 0.750em; // 12px
$font-size-16: 1em;			// 16px
$font-size-21: 1.313em; // 21px
$font-size-28: 1.750em; // 28px
$font-size-37: 2.313em; // 37px
$font-size-50: 3.125em; // 50px
$font-size-67: 4.188em; // 67px
$font-size-83: 5.188em; // 83px

/*
** EXTENDS
*/
%ribbon {
	position: relative;
	font-size: $font-size-09;
	top: 9px;
	left: 18px;
}
%ribbon-before {
	left: -0.3em;
	top: -1em;
	position: absolute;
	content: "";
	height: 3.25em;
	border-bottom: 0.7em solid transparent;
	border-right: 1em solid $color-secondary;
}
%ribbon-after {
	left: -0.7em;
	top: -1em;
	position: absolute;
	content: "";
	height: 3.25em;
	border-bottom: 0.7em solid transparent;
	border-left: 1em solid $color-secondary;
}
%button {
	border-bottom: 4px solid color--shadow(#C0C0C0);
	border-top: none;
	border-right: none;
	border-left: none;
	background: #C0C0C0;
	padding: 5px 5px 3px;
	font-size: $font-size-28;
	color: $color-tertiary;
	font-family: $font-text;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
	width: 320px;
	display: block;
	margin: 0 auto;
	
	@include breakpoint( min-width 785px ) {
		width: 100%;
	}
}
%button-hover {
	background: color--shadow(#C0C0C0);
	border-bottom: 4px solid color--shadow(color--shadow(#C0C0C0));
	cursor: pointer;
}
%input {
	background: $color-tertiary;
	border: 2px solid color--shadow($color-tertiary);
	box-sizing: border-box;
	color: $color-secondary;
	display: block;
	font-size: $font-size-21;
	margin: 0 auto;
	padding: 10px;
	width: 320px;
	
	@include breakpoint( min-width 785px ) {
		width: 100%;
	}
}
%input-focus {
	border: 2px solid $color-secondary;
}

/*
** UNIVERSALS
*/
body {
	padding: 1.5%;
	/* Created using http://www.patternify.com/ */
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2OUjq77zykizQADjCr5M/9/f/OUASYIFgDJwgThAjBBACtAEXlnBGGKAAAAAElFTkSuQmCC) repeat;
	
	@include breakpoint( min-width 465px ) {
		padding: 2.5% 5%;
	}
	@include breakpoint( min-width 732px ) {
		padding: 2.5% 10%;
	}
	@include breakpoint( min-width 1650px ) {
		padding: 2.5% 0;
	}
}
#container {
	background: $color-secondary;
	padding: 0 3% 3%;
	@include box-sizing(border-box);
	
	@include breakpoint( min-width 1650px ) {
		width: 1308px;
		margin: 0 auto;
	}
}
#loading-container {
	background: $color-secondary;
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	margin: 10px;
	display: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* This is from https://github.com/tobiasahlin/SpinKit/blob/master/1-rotating-plane.html */
/* Look into compass/sass config */
.loading-spinner {
  width: 30px;
  height: 30px;
  background-color: $color-primary;
  
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

#content {
	clear: both;
}
.icon--font {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* 
** HEADER
*/
#site-header {
	position: relative;
	padding: 1% 0;
	
	h1 {
		font-size: $font-size-50;
		text-align: center;
		font-family: $font-title;
		color: $color-tertiary;
		font-weight: bold;
		
		@include breakpoint( min-width 533px ) {
			font-size: $font-size-67;
		}
		@include breakpoint( min-width 653px ) {
			font-size: $font-size-83;
		}
	}
}

/*
** HEADER NAVIGATION
*/
.navigation--button {
	font-weight: normal;
	font-family: $font-title;
	color: $color-tertiary;
	font-size: $font-size-83;
	display: none;
	position: absolute;
	top: 10px;
	right: 0;
	display: none;
	
	&:hover {
		cursor: pointer;
	}
	@include breakpoint( min-width 785px ) {
		display: block;
	}
}
#navigation--popup {
	
	@include breakpoint( min-width 785px ) {
		display: none;
		position: absolute;
		z-index: 1;
		top: 50px;
		right: 3px;
	}
}
.navigation--popup-arrow {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 16px 24px 16px;
	border-color: transparent transparent $color-tertiary transparent;
	float: right;
	display: none;
	
	@include breakpoint( min-width 785px ) {
		display: block;
	}
}
.navigation--popup-content {
	background: $color-tertiary;
	border-bottom: 5px solid color--shadow($color-tertiary);
	margin: 3% 0;
	padding: 3.188%;
	box-sizing: border-box;
	z-index: 1;
	
	@include breakpoint( min-width 785px ) {
		padding: 8.203%
	}
	
	ul {
		margin: 4% 0 0;
		text-align: center;
	
		@include breakpoint( min-width 785px ) {
			margin: 10% 0 0;
		}
	}
	li {
		display: inline;
		margin: 0 10px 0 0;
		
		&:last-child {
			margin: 0;
		}
	}
	svg {
		width: 85px;
		height: 85px;
		fill: $color-secondary;
		
		&:hover {
			fill: color--shadow($color-secondary);
		}
	}
	
	@include breakpoint( min-width 785px ) {
		margin: 0;
		clear: right;
	}
}
#user_login {
	@extend %input;
	
	&:focus {
		@extend %input-focus;
	}
}
#user_pass {
	@extend %input;
	margin: 3.411% auto;
	
	@include breakpoint( min-width 785px ) {
		margin: 10% auto;
	}
	
	&:focus {
		@extend %input-focus;
	}
}
#loginout {
	
	label {
		display: none;
	}
	.login-password {
	}
}
#wp-submit {
	@extend %button;
	
	&:hover {
		@extend %button-hover;
	}
}
#loginout.loginout-out a {
	@extend %button;
	
	&:hover {
		@extend %button-hover;
	}
}

/*
** BOOK SHELF
*/
.book-shelf {
	margin: 3% 0 0;
	
	h1 {
		background: $color-tertiary;
		color: $color-secondary;
		line-height: $font-size-16;
		padding: 11px 35px 5px;
		margin: 0 0 10px;
		border-bottom: 5px solid color--shadow($color-tertiary);
		font-weight: normal;
		font-family: $font-title;
		font-size: $font-size-28;
	}
}
#finished-read {
	display: none;
	
	.book-list {
		border: 5px dashed $color-tertiary;
		border-radius: 5px;
		padding: 10px 10px 26px;
		min-height: 46px;
	}
	.instructions {
		position: relative;
		top: -30px;
	}
}
.instructions {
	font-family: $font-text;
	text-align: center;
	color: $color-tertiary;
}
#current-read {
	margin: 0;
}
.ribbon {
	@extend %ribbon;
}
.ribbon::before {
	@extend %ribbon-before;
	height: 3.6em;
}
.ribbon::after {
	@extend %ribbon-after;
	height: 3.6em;
}
.book {
	background: $color-primary;
	padding: 12px 1% 1%;
	margin: 0 0 10px;
	color: $color-secondary;
	border-bottom: 4px solid color--shadow($color-primary);
	font-family: $font-text;
	position: relative;
	line-height: 1.25em;
	
	&:last-child {
		margin: 0;
	}
	&.ui-sortable-helper {
		box-shadow: rgba(0, 0, 0, 0.4) 6px 6px 12px;
	}
	&.overflow {
		display: none;
	}
	.book--action-links {
		line-height: $font-size-16;
		float: none;
		padding: 0 0 0 5px;
	}
	p {
		border-left: none;
		border-top: 2px solid color--shadow($color-primary);
		padding: 10px 0 0;
		margin: 6px 0 0;
	}
}

.action-link {
	text-decoration: none;
	text-align: center;
	position: relative;
	padding: 0 15px 0 0;
	
	svg {
		fill: $color-secondary;
		height: 24px;
		width: 24px;
	}
	
	span {
		padding: 4px 0 0;
		display: inline-block;
		margin: 0 10px 0 0;
	}
}
.action-link.missing {
	opacity: 0.4;
}
#amazon-action-link {
}
#wiki-action-link {
}
#download-action-link {
	top: -3px;
}
#edit-action-link {
	top: -4px;
}
.book--title {
	font-style: italic;
}
.book--series {
	font-size: $font-size-12;
}
.book--tags {
	font-size: $font-size-09;
	text-transform: lowercase;
}
.book--tags, .book--series {
	display: block;
}
.book--want-date {
	position: absolute;
	color: color--shadow($color-primary);
	bottom: 1%;
	right: 1%;
	text-transform: uppercase;
	font-style: italic;
	display: none;
	
	@include breakpoint( min-width 785px ) {
		display: inline-block;
	}
}
#show-full-list-button {
	@extend %button;
	margin: 3% auto 0;
	
	&:hover {
		@extend %button-hover;
	}
}

/*
** FOOTER
*/
#site-footer {
	margin: 20px 0 0;
	color: color--shadow($color-tertiary);
	font-family: $font-text;
	position: relative;
		
	a {
		color: $color-secondary;
	}
	svg {
		fill: $color-secondary;
		display: inline-block;
		height: 25px;
		width: 25px;
		margin: 5px 0 0;
	}
}
#copyright {
	margin: 0 0 10px;
}
#github-link {
	margin: 0;
	text-align: left;
	
	@include breakpoint( min-width 855px ) {
		text-align: right;
		margin: -28px 0 0;
	}
	
	a {
		text-decoration: none;
		
		span {
			text-decoration: underline;
			margin: 0 0 2px;
			display: inline-block;
			overflow: hidden;
		}
	}
}