/*------------------------------------*\
    #COLORS
\*------------------------------------*/
$color-primary: #246f99; //Blue
$color-secondary: #F5F1D2; // Cream
$color-tertiary: #434343; // Dark Gray
$color-quarternary: #e74841; // Red

$ribbon-bg: #bb3a34;
/*------------------------------------*\
    #COLOR-TRANSFORMS
\*------------------------------------*/
@function color--shadow($color) {
  @return adjust-color($color, $hue: 0, $saturation: 3, $lightness: -7);
}
