/*------------------------------------*\
    #EXTENDS
\*------------------------------------*/
%area-login {
  padding: gutter(); // see %input width.
  background: $color-tertiary;
  border-bottom: .313em solid color--shadow($color-tertiary);
  text-align: center;
}
%button {
  background: #C0C0C0;
  border-bottom: .179em solid color--shadow(#C0C0C0);
  border-left: none;
  border-radius: .179em;
  border-right: none;
  border-top: none;
  color: $color-tertiary;
  display: block;
  font-size: $text-size-28;
  padding: gutter();
  text-decoration: none;
  text-align: center;
}
%button-hover {
  background: color--shadow(#C0C0C0);
  border-bottom: .179em solid color--shadow(color--shadow(#C0C0C0));
  cursor: pointer;
}
%input {
  background: $color-tertiary;
  border: 2px solid color--shadow($color-tertiary);
  color: $color-secondary;
  display: block;
  font-family: $font-text;
  font-size: $text-size-21;
  padding: gutter();
  width: span(11.5); // see %area-login padding.
  margin: 0 auto;
}
%input-focus {
  border: 2px solid $color-secondary;
  outline: none;
}

$ribbon-w: 2.5em;
$ribbon-tail: .625em;
%ribbon-prelim {
  padding:0 0 $ribbon-tail 0;
  position:absolute;
  top:-0.25em;
  width:$ribbon-w;
  font-size: 1rem;
}
%ribbon-label {
  @include transform(rotate(-90deg));
  position: absolute;
  font-size: $text-size-09;
  text-transform: uppercase;
  left: -1.375rem;
  top: 1.5rem;
}
%ribbon-div {
  background:$ribbon-bg;
  background: linear-gradient($color-quarternary 0%, $ribbon-bg 100%);
  color:#fff;
  padding:0.5em 0;
  text-align:center;
  text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.5);
}
%ribbon-div-after {
  border-left: $ribbon-w/2 solid $ribbon-bg;
  border-right: $ribbon-w/2 solid $ribbon-bg;
  border-bottom: $ribbon-tail solid transparent;
  bottom:0;
  content:'';
  height: 0;
  left:0;
  position:absolute;
  width: 0;
}
