/*------------------------------------*\
    #FONTS
\*------------------------------------*/
$font-title: 'Domine', serif;
$font-text: 'Sintony', sans-serif;
@font-face {
  font-family: 'Lobster Two';
  src:
    url('fonts/LobsterTwo.eot?') format('eot'), 
    url('fonts/LobsterTwo.otf')  format('opentype'),
    url('fonts/LobsterTwo.woff') format('woff'), 
    url('fonts/LobsterTwo.ttf')  format('truetype'),
    url('fonts/LobsterTwo.svg#LobsterTwo') format('svg');
}


/*------------------------------------*\
    #FONT-SIZES
    http://lifehacker.com/stick-to-these-font-sizes-to-simplify-designs-and-more-1531615325
\*------------------------------------*/
$text-size-05: 0.313rem; // 5px
$text-size-07: 0.438rem; // 7px
$text-size-09: 0.563rem; // 9px
$text-size-12: 0.750rem; // 12px
$text-size-16: 1rem;     // 16px
$text-size-21: 1.313rem; // 21px
$text-size-28: 1.750rem; // 28px
$text-size-37: 2.313rem; // 37px
$text-size-50: 3.125rem; // 50px
$text-size-67: 4.188rem; // 67px
$text-size-83: 5.188rem; // 83px
