/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/
$gutter-padding: gutter-span();
$column-padding: gutter-span() + gutter-span() + gutter-span() + gutter-span();
/*------------------------------------*\
    #EXTENDS
\*------------------------------------*/
%button {
  background: #C0C0C0;
  border-bottom: .179em solid color--shadow(#C0C0C0);
  border-left: none;
  border-radius: .179em;
  border-right: none;
  border-top: none;
  color: $color-tertiary;
  display: block;
  font-size: $text-size-28;
  padding: gutter();
  text-decoration: none;
  text-align: center;
}
%button-hover {
  background: color--shadow(#C0C0C0);
  border-bottom: .179em solid color--shadow(color--shadow(#C0C0C0));
  cursor: pointer;
}
%input {
  background: $color-tertiary;
  border: 2px solid color--shadow($color-tertiary);
  color: $color-secondary;
  display: block;
  font-family: $font-text;
  font-size: $text-size-21;
  padding: gutter();
  width: 100%;
}
%input-focus {
  border: 2px solid $color-secondary;
  outline: none;
}
