/*------------------------------------*\
    #BOOK
\*------------------------------------*/
.book {
  background: white;
  margin: gutter() 0 0;
  color: $color-tertiary;
  font-family: $font-text;
  position: relative;
  line-height: em(20);
  box-shadow: $drop-shadow;
  padding: rem(8);
  
  h1 {
    background: $color-secondary;
    padding: gutter();
    color: $color-tertiary;
    box-shadow: $drop-shadow;
    font-family: $font-fancy;
    line-height: em(16);
    font-size: rem(37);
    
    &:hover {
      cursor: pointer;
    }
  }
  
  &.new-book {
    display: none;
  }
}

.book--content {
  position: relative;
  min-height: rem(36);
}

.book--options {
  display: none;
  background: $color-tertiary;
  padding: gutter() 0;
  margin: 0 gutter();
  
  a {
    margin: gutter();
    color: white;
    text-decoration: none;
    border: rem(1) solid $color-tertiary;
    padding: 0 gutter();
    font-size: em(15);
  }
  
  .active {
    border-color: white;
  }
}
.book--details {
  padding: gutter();
  
  .book--detail {
    max-width: 63%;
    
    @include breakpoint(rem(520)) {
      max-width: 78%;
    }
    @include breakpoint(rem(760)) {
      max-width: 69%;
    }
    @include breakpoint(rem(1050)) {
      max-width: 78%;
    }
  }
  
  span {
    display: block;
    margin: 0 0 gutter() 0;
    
    &:last-child {
      margin: 0;
    }
    
    & > * {
      display: inline;
    }
  }
  svg {
    position: relative;
    fill: $color-primary;
    width: rem(16);
    height: rem(16);
    margin: 0 em(8) 0 0;
    top: .1em;
  }
}
.book--tags {
  font-size: rem(12);
  
  svg {
    top: em(4);
  }
}

/* book links */
.book--links {
  padding: 0 gutter() gutter();
  li {
    display: inline;
  }
}
.book--link {
  display: inline;
  margin: 0 rem(16) 0 0;
  
  svg {
    position: static;
    width: rem(24);
    height: rem(24);
    fill: $color-red;
    
    &:hover {
      fill: color--shadow($color-red);
    }
  }
}

/* overflow books */
.collapsed {
  .overflow {
    display: none;
  }
}
.expanded {
  
  .overflow {
    display: block;
    opacity: 0;
  }
  .animate {
    opacity: 1;
    @include animation(0, .25s, 1, popIn);
    @include transition( opacity 0s ease-in-out .05s );
  }
}

@include keyframes(popIn) {
  0% { @include transform( scale(0) ); }
  80% { @include transform( scale(1.1) ); }
  100% { @include transform( scale(1) ); }
}

/* book meta */
.book--meta {
  position: absolute;
  top: rem(8);
  right: gutter();
  
  div {
    background: $color-primary;
    width: rem(28);
    height: rem(28);
    padding: rem(8);
    color: white;
    line-height: rem(28);
    font-size: em(12);
    text-align: center;
    box-shadow: $drop-shadow;
    margin: 0 auto
  }
  
  span {
    display: block;
  }
}

.book--meta-label {
  color: $color-primary;
  font-size: em(10);
  text-align: center;
  margin-top: rem(6);
}

.book--want-date {
  
  div span {
    line-height: rem(15);
  }
}

.book--last-date {
  right: rem(59);
  
  div {
    font-size: em(11);
  }
}
