/*------------------------------------*\
    #BOOK-SHELF
\*------------------------------------*/
.book-shelf {

  h1 {
    background: $color-tertiary;
    border-bottom: .179em solid color--shadow($color-tertiary);
    color: $color-secondary;
    font-family: $font-title;
    font-size: $text-size-28;
    padding: .5em .5em .4em 1.5em; // In ems and not $gutter-padding because of sticky behavior.
    position: relative;
  }
  svg {
    fill: $color-secondary;
    width: .643em;
    height: 1.286em;
    position: absolute;
    top: 0;
    left: .5em;
  }
}
// Sticky styles
.sticker {
  z-index: 2;
}
.is-sticky .sticker {
  box-shadow: 0 8px 8px rgba(50,50,50,.5);
}
.instructions {
  text-align: center;
  margin: 0 0 gutter();
}
#finished-read {
  display: none;
  margin-bottom: (gutter() * 2);
  
  .book-list {
    border: .313em dashed $color-tertiary;
    border-radius: .313em;
    padding: gutter() gutter() (gutter() * 2);
  }
  .instructions {  }
}
#finished-read-list {
  margin: gutter() 0 0;
}
