/*------------------------------------*\
    #BOOK-SHELF
\*------------------------------------*/
.book-shelf {
  margin-top: span(1);
  
  @include breakpoint(rem(760)) {
    margin-top: 0;
  }

  h1 {
    background: $color-tertiary;
    color: $color-quarternary;
    font-family: $font-title;
    font-size: $font-size-7;
    padding: em(4) em(8) em(2.4) em(24); // In ems and not $gutter-padding because of sticky behavior.
    position: relative;
    box-shadow: $drop-shadow;
    line-height: rem(36);
  }
  
  svg {
    fill: $color-quarternary;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    left: .2rem;
  }
}
// Sticky styles
.is-sticky .sticky--wtr {
  box-shadow: $drop-shadow;
  z-index: 2;
}

.instructions {
  text-align: center;
  margin: 0 0 gutter();
}

#finished-read {
  display: none;
  
  @include breakpoint(rem(760)) {
    margin-bottom: span(1);
  }
}

#current-read {}

#show-full-list-button {
  @extend %button;
  margin-top: gutter();
  text-transform: capitalize;
  
  &:hover { @extend %button-hover; }
}
