/*------------------------------------*\
    #BOOK
\*------------------------------------*/
.book {
  background: white;
  margin: gutter() 0 0;
  color: $color-tertiary;
  font-family: $font-text;
  position: relative;
  line-height: 1.25em;
  box-shadow: $drop-shadow;
  
  h1 {
    background: $color-secondary;
    padding: gutter();
    color: $color-tertiary;
    box-shadow: 0px 0px;
    font-family: $font-fancy;
    line-height: 1em;
    font-size: $font-size-8;
    
    &.ribbons {
      padding: gutter() 6rem gutter() gutter();
    }
  }
}
.book--details {
  padding: gutter();
  
  span {
    display: block;
  }
}
.book--links {
  padding: 0 gutter() gutter();
  li {
    display: inline;
  }
}
.book--link {
  display: inline;
  margin: 0 1rem 0 0;
  
  svg {
    position: static;
    width: 1.5rem;
    height: 1.5rem;
    
    &:hover {
      fill: $color-primary;
    }
  }
}
.collapsed {
  .overflow {
    display: none;
  }
}
.expanded {
  
  .overflow {
    display: block;
    opacity: 0;
  }
  .animate {
    opacity: 1;
    @include animation(0, .25s, 1, popIn);
    @include transition( opacity 0s ease-in-out .05s );
  }
}
@include keyframes(popIn) {
  0% { @include transform( scale(0) ); }
  80% { @include transform( scale(1.1) ); }
  100% { @include transform( scale(1) ); }
}/*------------------------------------*\
    #SORTING
\*------------------------------------*/
.sortable-placeholder {
  background: color--shadow($color-quarternary);
  margin: gutter() 0 0;
}
.ribbon {
  right:0.25em;
  @extend %ribbon-prelim;
  
  .label {
    @extend %ribbon-label;
  }
  div {
    @extend %ribbon-div;
  }

  div:after {
    @extend %ribbon-div-after;
  }
  .month {
    display: block;
    padding: gutter() 0 0;
  }
}
.book--last-date {
  right: 3rem;
}
#show-full-list-button {
  @extend %button;
  margin-top: gutter();
  
  &:hover { @extend %button-hover; }
}