/*------------------------------------*\
    #BOOK-SHELF
\*------------------------------------*/
.book-shelf {

  h1 {
    background: $color-tertiary;
    color: $color-quarternary;
    font-family: $font-title;
    font-size: $font-size-7;
    padding: .5em .5em .4em 1.5em; // In ems and not $gutter-padding because of sticky behavior.
    position: relative;
    box-shadow: $drop-shadow;
  }
  svg {
    fill: $color-quarternary;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    left: .2rem;
  }
}
// Sticky styles
.is-sticky .sticky--wtr {
  box-shadow: $drop-shadow;
  z-index: 2;
}

.instructions {
  text-align: center;
  margin: 0 0 gutter();
}
#finished-read {
  display: none;
  margin-bottom: (gutter() * 2);
  
  .book-list {
    border: .313em dashed $color-tertiary;
    border-radius: .313em;
    padding: gutter() gutter() (gutter() * 2);
  }
}
#current-read {
  @include breakpoint( max-width 760px ) {
    margin: 0 0 gutter();
  }
}
#finished-read-list {
  margin: gutter() 0 0;
}
