/*------------------------------------*\
    #SITE-FOOTER
\*------------------------------------*/
#site-footer {
  padding-bottom: (gutter() * 2);
  text-align: center;
  

  @include breakpoint( min-width 600px ) {
    background: none;
    margin-top: (gutter() * 2);
    text-align: left;
  }

  p {
    clear: both;
    line-height: 1.563em;
    
    @include breakpoint( min-width 600px ) {
      color: color--shadow($color-tertiary);
    }
  }
  svg {
    fill: $color-primary;
    height: 1.563em;
    width: 1.563em;
    vertical-align: bottom;
    margin-left: .25em;
    
    @include breakpoint( min-width 600px ) { fill: $color-secondary; }
  }
  a {
    color: $color-primary;
    
    @include breakpoint( min-width 600px ) { color: $color-secondary; }
  }
}
#github-link a {
  text-decoration: none;
  
  span {
    text-decoration: underline;
    vertical-align: middle;
  }
}
