/*------------------------------------*\
    #SITE-FOOTER
\*------------------------------------*/
#site-footer {
  background-color: $color-tertiary;
  color: white;
  margin-top: -(rem(96));
  padding: rem(112) 0 rem(95);
  
  .logged-in & {
    padding-bottom: rem(16);
  }
  
  > div {
    @extend %content-width;
    padding: 0 gutter();
    
    @include breakpoint($breakpoint-2) {
      padding: 0;
    }
  }
  
  p {
    line-height: rem(25);
  }
  
  svg {
    fill: $color-secondary;
  }
  
  a {
    color: $color-secondary;
    
    &:hover{
      text-decoration: underline;
    }
  }
  
  &--github-link {
    
    svg {
      height: rem(25);
      margin: 0 0 0 rem(5);
      vertical-align: bottom;
      width: rem(25);
    }
  }
  
  &--admin-link {
    position: absolute;
    right: gutter();
    top: 0;
    
    @include breakpoint($breakpoint-2) {
      right: 0;
    }
    
    svg {
      height: rem(50);
      width: rem(50);
    }
  }
}
