/*------------------------------------*\
    #SITE-HEADER
\*------------------------------------*/
#site-header {
  background: $color-tertiary;
  margin-bottom: -6em;
  padding: 1rem gutter() 0;
  min-height: 27rem;
  box-shadow: $drop-shadow;
  
  @include breakpoint ( min-width $breakpoint-1 ) { min-height: 31rem; }
  @include breakpoint ( min-width $breakpoint-2 ) { min-height: 34rem; }
  
  h1 {
    font-family: $font-fancy;
    text-align: center;
    text-shadow: $drop-shadow;
    padding: gutter() gutter() span(1);
    color: $color-secondary;
    font-size: $font-size-9;

    @include breakpoint( min-width $breakpoint-1 ) { font-size: $font-size-10; }
    @include breakpoint( min-width $breakpoint-2 ) { font-size: $font-size-11; }
    
    svg {
      width: 3em;
      height: 3em;
      fill: $color-primary;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    .first {
      position: absolute;
      margin: 0 auto;
      font-weight: bold;
      left: -.65em;
      right: 0;
    }
    .last {
      font-size: 3em;
      display: block;
      position: relative;
    }
  }
}

.logged-in #site-header {
  min-height: 20rem;
  
  @include breakpoint ( min-width $breakpoint-1 ) { min-height: 24rem; }
  @include breakpoint ( min-width $breakpoint-2 ) { min-height: 27rem; }
}