/*------------------------------------*\
    #SITE-HEADER
\*------------------------------------*/
#site-header {
  
  h1 {
    font-family: 'Lobster Two';
    text-align: center;
    padding: gutter() gutter() span(1);
    color: color--shadow($color-tertiary);
    text-shadow: 0 2px 2px rgba(0,0,0,.25);
    
    @include breakpoint( max-width 539px ) { font-size: $text-size-50; }
    @include breakpoint( min-width 540px ) { font-size: $text-size-67; }
    @include breakpoint( min-width 650px ) { font-size: $text-size-83; }
    
    svg {
      width: 3em;
      height: 3em;
      fill: $color-primary;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    .first {
      position: absolute;
      margin: 0 auto;
      font-weight: bold;
      left: -.65em;
      right: 0;
    }
    .last {
      font-size: 3em;
      display: block;
      position: relative;
    }
  }
}
