#loginform {
  @extend %area-login;
  
  input[type=text] {
    @extend %input;
    
    &:focus { @extend %input-focus; }
  }
  input[type=password] {
    @extend %input;
    margin-top: gutter();
    
    &:focus { @extend %input-focus; }
  }
  label {
    display: none;
  }
}
.login-remember { display: none; }
#wp-submit {
  @extend %button;
  width: span(3);
  margin: 0 auto;
  margin-top: gutter();
  
  &:hover { @extend %button-hover; }
}
