#loginform {
  @extend %area-login;
  
  input[type=text] {
    @extend %input;
    
    &:focus { @extend %input-focus; }
  }
  input[type=password] {
    @extend %input;
    
    &:focus { @extend %input-focus; }
  }
  label {
    display: none;
  }
  p {
    margin-bottom: 1rem;
    
    &:last-child {
      margin: 0;
    }
  }
}
.login-remember { display: none; }
#wp-submit {
  @extend %button;
  width: span(5);
  margin: 0 auto;
  
  &:hover { @extend %button-hover; }
}
