#loginform {
  text-align: center;
  padding: $gutter-padding 0;
  background: $color-tertiary;
  border-bottom: .313em solid color--shadow($color-tertiary);
  overflow: hidden;
  
  p {
    @include grid-span(11, 1.5);
    clear: both;
  }
  input[type=text] {
    @extend %input;
    
    &:focus { @extend %input-focus; }
  }
  input[type=password] {
    @extend %input;
    
    &:focus { @extend %input-focus; }
  }
  label {
    text-align: left;
    display: block;
    color: $color-secondary;
  }
}
.login-remember { display: none; }
#wp-submit {
  @extend %button;
  @include grid-span( 4, 5 );
  margin-top: $gutter-padding;
  
  &:hover { @extend %button-hover; }
}
