@import "compass/css3";
@import "mixins";
/*
** COLORS
*/
$color-primary: #246f99;
$color-secondary: #F5F1D2;
$color-tertiary: #434343;

@function color--shadow($color) {
  @return adjust-color($color, $hue: 0, $saturation: 3, $lightness: -7);
}

/*
** FONTS
*/
$font-title: 'Domine', serif;
$font-text: 'Sintony', sans-serif;
@font-face {
  font-family: 'Lobster Two';
  src:
    url('fonts/LobsterTwo.eot?') format('eot'), 
    url('fonts/LobsterTwo.otf')  format('opentype'),
    url('fonts/LobsterTwo.woff') format('woff'), 
    url('fonts/LobsterTwo.ttf')  format('truetype'),
    url('fonts/LobsterTwo.svg#LobsterTwo') format('svg');
}

/*
** TEXT SIZES
** http://lifehacker.com/stick-to-these-font-sizes-to-simplify-designs-and-more-1531615325
*/
$text-size-05: 0.313em; // 5px
$text-size-07: 0.438em; // 7px
$text-size-09: 0.563em; // 9px
$text-size-12: 0.750em; // 12px
$text-size-16: 1em;     // 16px
$text-size-21: 1.313em; // 21px
$text-size-28: 1.750em; // 28px
$text-size-37: 2.313em; // 37px
$text-size-50: 3.125em; // 50px
$text-size-67: 4.188em; // 67px
$text-size-83: 5.188em; // 83px
/*
** WIDTHS
*/
$gutter-padding: gutter-span();
$column-padding: gutter-span() + gutter-span() + gutter-span() + gutter-span();
/*
** EXTENDS
*/
%button {
  border-bottom: .179em solid color--shadow(#C0C0C0);
  border-top: none;
  border-right: none;
  border-left: none;
  background: #C0C0C0;
  padding: .4em;
  font-size: $text-size-28;
  color: $color-tertiary;
  border-radius: .179em;
  text-decoration: none;
  text-align: center;
  display: block;
}
%button-hover {
  background: color--shadow(#C0C0C0);
  border-bottom: .179em solid color--shadow(color--shadow(#C0C0C0));
  cursor: pointer;
}
%input {
  background: $color-tertiary;
  border: 2px solid color--shadow($color-tertiary);
  color: $color-secondary;
  display: block;
  font-family: $font-text;
  font-size: $text-size-21;
  padding: 10px;
  width: 100%;
}
%input-focus {
  border: 2px solid $color-secondary;
  outline: none;
}
/*
** PRELIMINARY
*/
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-text;
  color: $color-tertiary;
}
body {
  background: url(../images/goot8xr.png) $color-primary repeat;
}
/*
** LOGGED OUT WARNING
*/
#logged-out-warning {
  position: fixed;
  top: 0;
  left: 50%;
  background: $color-secondary;
  border-bottom: .313em solid color--shadow($color-secondary);
  padding: 2em;
  width: 20em;
  margin-left: -10em;
  z-index: 1;
  box-shadow: .626em .626em 1.252em $color-tertiary;
  text-align: center;
  display: none;
  opacity: 0;
  
  svg {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: .313em;
    left: .313em;
    fill: $color-primary;
  }
}
#logged-out-warning.animate-open {
  display: block;
  @include animation(.25s, 1s, 1, animate-open);
}
#logged-out-warning.animate-close {
  display: block;
  @include animation(.1s, 1s, 1, animate-close);
}
@include keyframe(animate-open) {
  0% {
    @include opacity(0);
    @include transform(perspective(400px) rotate3d(1,0,0,-90deg));
  } 40% {
    @include opacity(1);
    @include transform(perspective(400px) rotate3d(1,0,0,20deg));
  } 60% {
    @include opacity(1);
    @include transform(perspective(400px) rotate3d(1,0,0,-10deg));
  } 80% {
    @include opacity(1);
    @include transform(perspective(400px) rotate3d(1,0,0,5deg));
  } 100% {
    @include opacity(1);
    @include transform(perspective(400px));
  }
}
@include keyframe(animate-close) {
  0% {
    @include translate(0em, 0em);
    @include opacity(1);
  } 40% {
    @include translate(0em, -2em);
    @include opacity(.8);
  } 60% {
    @include translate(0em, -6em);
    @include opacity(.6);
  } 80% {
    @include translate(0em, -12em);
    @include opacity(.4);
  } 100% {
    @include translate(0em, -20em);
    @include opacity(0);
  }
}
/*
** LOADING INIDCATOR
*/
#loading-container {
  background: $color-secondary;
  position: fixed;
  top: 0;
  padding: $gutter-padding;
  margin: ($gutter-padding * 4) 0 0 $gutter-padding;
  border: .125em solid color--shadow($color-secondary);
  z-index: 1;
  display: none;
}
.loading-spinner {
  width: 30px;
  height: 30px;
  background-color: $color-primary;
  
  @include animation(0s, 1.2s, infinite, rotateplane);
}
@include keyframe(rotateplane) {
  0% {
    @include transform( perspective( 120px ) rotateX( 0deg ) rotateY( 0deg ) );
  } 50% {
    @include transform( perspective( 120px ) rotateX( -180.1deg ) rotateY( 0deg ) );
  } 100% {
    @include transform( perspective( 120px ) rotateX( -180deg ) rotateY( -179.9deg ) );
  }
}
.container {
  //@include background-grid;
  margin: 0 auto;
  min-height: 100%;
  max-width: 1000px;
  
  @include breakpoint( min-width 600px ) {
    @include grid-span(10, 2);
  }
  @include breakpoint( min-width 1204px ) {
    // This gets rid of the grid-span rule and just makes the container centered.
    float: none;
    margin: 0 auto;
  }
}
.content {
  background: $color-secondary;
}
/*
** SITE HEADER
*/
#site-header {
  
  h1 {
    font-family: 'Lobster Two';
    font-size: $text-size-37;
    text-align: center;
    text-transform: capitalize;
    padding: $gutter-padding 0;
    position: relative;
    margin: 0 0 0 -.36em;
    color: color--shadow($color-tertiary);
    
    @include breakpoint( min-width 425px ) {
      font-size: $text-size-50;
    }
    @include breakpoint( min-width 680px ) {
      font-size: $text-size-67;
    }
    @include breakpoint( min-width 830px ) {
      font-size: $text-size-83;
    }
    
    svg {
      width: 3em;
      height: 3em;
      fill: $color-primary;
      position: absolute;
      border-radius: 2em;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    .first {
      position: absolute;
      margin: 0 auto;
      left: -.65em;
      right: 0;
      top: .35em;
      font-weight: bold;
    }
    .last {
      font-size: 3em;
      display: block;
      position: relative;
    }
  }
}
#loginform {
  text-align: center;
  padding: $gutter-padding 0;
  background: $color-tertiary;
  border-bottom: .313em solid color--shadow($color-tertiary);
  overflow: hidden;
  
  p {
    @include grid-span(11, 1.5);
    clear: both;
  }
  input[type=text] {
    @extend %input;
    
    &:focus {
      @extend %input-focus;
    }
  }
  input[type=password] {
    @extend %input;
    
    &:focus {
      @extend %input-focus;
    }
  }
  label {
    text-align: left;
    display: block;
    color: $color-secondary;
  }
}
.login-remember {
  display: none;
}
#wp-submit {
  @extend %button;
  @include grid-span( 4, 5 );
  margin-top: $gutter-padding;
  
  &:hover {
    @extend %button-hover;
  }
}
#site-navigation {
  background: $color-tertiary;
  border-bottom: .313em solid color--shadow($color-tertiary);
  padding: $gutter-padding ($gutter-padding * 4);
  text-align: center;
  
  li {
    display: inline-block;
    margin: 0 $gutter-padding;
  }
  svg {
    width: 3.5em;
    height: 3.5em;
    fill: $color-secondary;
  }
}
#site-content {
  overflow: hidden;
  
  @include breakpoint( min-width 600px ) {
    border-bottom: .313em solid color--shadow($color-secondary);
  }
}
/*
** BOOK SHELF
*/
.book-shelf {
  @include grid-span( 11, 1.5 );
  margin-bottom: ($column-padding/2);
  clear: both;
  
  &:first-child {
  }
  
  h1 {
    background: $color-tertiary;
    border-bottom: .179em solid color--shadow($color-tertiary);
    color: $color-secondary;
    font-family: $font-title;
    font-size: $text-size-28;
    line-height: 1em;
    margin: 0 0 $gutter-padding;
    padding: .5em .5em .4em 1.5em; // In ems and not $gutter-padding because of sticky behavior.
    position: relative;
  }
  svg {
    fill: $color-secondary;
    width: .643em;
    height: 1.286em;
    position: absolute;
    top: 0;
    left: .5em;
  }
}
.sticky {
  
  h1 {
    position: fixed;
    top: 0;
    box-shadow: 0 8px 8px rgba(50,50,50,.5);
    z-index: 1;
  }
}
.instructions {
  text-align: center;
}
#finished-read {
  display: none;
  
  .book-list {
    border: .313em dashed $color-tertiary;
    border-radius: .313em;
    padding: $gutter-padding $gutter-padding ($gutter-padding * 2);  }
  .instructions {
    margin: 0 0 $gutter-padding;
  }
}
/*
** BOOK
*/
.book {
  background: $color-primary;
  padding: .5em;
  margin: $gutter-padding 0 0;
  color: $color-secondary;
  border-bottom: .313em solid color--shadow($color-primary);
  font-family: $font-text;
  position: relative;
  line-height: 1.25em;
  
  &.overflow {
    display: none;
  }
  &:first-child {
    margin: 0;
  }
}
/*
** SORTING
*/
.sortable-placeholder {
  border: .063px dashed #CCC;
  background: color--shadow($color-secondary);
  margin: 0 0 $gutter-padding;
}
/*
** ACTION LINKS
*/
.book--action-links {
  border-bottom: .125em solid color--shadow($color-primary);
  padding: .4em 0;
  margin: 0 0 .4em;
}
.action-link {
  text-decoration: none;
  text-align: center;
  position: relative;
  margin: 0 1em 0 0;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  
  svg {
    fill: $color-secondary;
    height: 1.5em;
    width: 1.5em;
  }
}
.action-link.missing {
  opacity: 0.4;
}
.book--title {
  font-style: italic;
}
.book--series {
  font-size: $text-size-12;
}
.book--tags {
  font-size: $text-size-09;
  text-transform: lowercase;
}
.book--tags, .book--series {
  display: block;
}
.book--want-date {
  color: color--shadow($color-primary);
}
.book--want-date,
.book--last-read {
  position: absolute;
  bottom: .5em;
  right: $gutter-padding;
  text-transform: uppercase;
  font-style: italic;
  display: none;
  
  @include breakpoint( min-width 785px ) {
    display: inline-block;
  }
}
.book--last-read {
  top: 1em;
}
#show-full-list-button {
  @extend %button;
  @include grid-span( 6, 4 );
  margin-top: $gutter-padding;
  
  &:hover {
    @extend %button-hover;
  }
}
/*
** SITE FOOTER
*/
#site-footer {
  overflow: hidden;
  padding-bottom: ($column-padding/2);
  text-align: center;
  
  @include breakpoint( min-width 600px ) {
    background: none;
    margin-top: ($column-padding/2);
    text-align: left;
  }
  
  p {
    @include grid-span(11, 1.5);
    clear: both;
    line-height: 1.563em;
    
    @include breakpoint( min-width 600px ) {
      @include grid-span(12, 1);
      color: color--shadow($color-tertiary);
    }
  }
  svg {
    fill: $color-primary;
    height: 1.563em;
    width: 1.563em;
    vertical-align: bottom;
    margin-left: .25em;
    
    @include breakpoint( min-width 600px ) {
      fill: $color-secondary;
    }
  }
  a {
    color: $color-primary;
    
    @include breakpoint( min-width 600px ) {
      color: $color-secondary;
    }
  }
}
#github-link a {
  text-decoration: none;
  
  span {
    text-decoration: underline;
    vertical-align: middle;
  }
}
