#logged-out-warning {
  position: fixed;
  top: 0;
  left: 50%;
  background: $color-secondary;
  border-bottom: .313em solid color--shadow($color-secondary);
  padding: 2em;
  width: 20em;
  margin-left: -10em;
  z-index: 2;
  box-shadow: .626em .626em 1.252em $color-tertiary;
  text-align: center;
  display: none;
  opacity: 0;
  
  svg {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: .313em;
    left: .313em;
    fill: $color-primary;
  }
}
#logged-out-warning.animate-open {
  display: block;
  @include animation(.25s, 1s, 1, animate-open);
}
#logged-out-warning.animate-close {
  display: block;
  @include animation(.1s, 1s, 1, animate-close);
}
@include keyframe(animate-open) {
  0% {
    @include opacity(0);
    @include transform(perspective(400px) rotate3d(1,0,0,-90deg));
  } 40% {
    @include opacity(1);
    @include transform(perspective(400px) rotate3d(1,0,0,20deg));
  } 60% {
    @include opacity(1);
    @include transform(perspective(400px) rotate3d(1,0,0,-10deg));
  } 80% {
    @include opacity(1);
    @include transform(perspective(400px) rotate3d(1,0,0,5deg));
  } 100% {
    @include opacity(1);
    @include transform(perspective(400px));
  }
}
@include keyframe(animate-close) {
  0% {
    @include translate(0em, 0em);
    @include opacity(1);
  } 40% {
    @include translate(0em, -2em);
    @include opacity(.8);
  } 60% {
    @include translate(0em, -6em);
    @include opacity(.6);
  } 80% {
    @include translate(0em, -12em);
    @include opacity(.4);
  } 100% {
    @include translate(0em, -20em);
    @include opacity(0);
  }
}
