#loading-container {
  background: $color-quarternary;
  position: fixed;
  top: 0;
  left: gutter();
  padding: gutter();
  margin: (gutter() * 4) 0 0 gutter();
  box-shadow: $drop-shadow;
  z-index: 1;
  display: none;
}
.loading-spinner {
  width: 1.875rem;
  height: 1.875rem;
  background-color: $color-primary;
  
  @include animation(0s, 1.2s, infinite, rotateplane);
}
@include keyframes(rotateplane) {
  0% { @include transform( perspective( 120px ) rotateX( 0deg ) rotateY( 0deg ) ); }
  50% { @include transform( perspective( 120px ) rotateX( -180.1deg ) rotateY( 0deg ) ); }
  100% { @include transform( perspective( 120px ) rotateX( -180deg ) rotateY( -179.9deg ) ); }
}
